.list_tournois_content{
    padding: 0 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.lesTournois{
    display: flex;
    flex-direction: column-reverse;
}

.unTournois, .unTournoisRed{
    display: flex;
    flex-direction: row;
}

.unTournoisRed{
    background-color: rgba(143,32,33,0.2);
}